<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427786124340-kq66b8d19o6sb19moqeu5dgefef5ednl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427786124340-kq66b8d19o6sb19moqeu5dgefef5ednl</string>
	<key>API_KEY</key>
	<string>AIzaSyCGLdOpSMPypG8w0YQ3nDIkbVVc5B_hF2c</string>
	<key>GCM_SENDER_ID</key>
	<string>427786124340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getx.app.flutterLogin</string>
	<key>PROJECT_ID</key>
	<string>getx-firebase-57046</string>
	<key>STORAGE_BUCKET</key>
	<string>getx-firebase-57046.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427786124340:ios:d64f94879bd4b822ad9e61</string>
</dict>
</plist>